Source: libvpu-imx6
Priority: extra
Maintainer: Josua Mayer <privacy@not.given>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Section: libs
Homepage: <insert the upstream URL, if relevant>
Vcs-Git: https://github.com/mxOBS/deb-pkg_libvpu-imx.git
Vcs-Browser: https://github.com/mxOBS/deb-pkg_libvpu-imx

Package: libvpu-imx6-dev
Section: libdevel
Architecture: any
Depends: libvpu-imx6 (= ${binary:Version})
Description: Development files for libvpu-imx6
 Provides libraries and headers to create programs with the i.MX6 VPU.

Package: libvpu-imx6
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, firmware-imx (>= 6.0)
Description: i.MX6 VPU library
 low-level library for accessing the VPU used in Freescale i.MX6 SoCs.
